
<% if @disney_character_info.character_name == "Snow White"%>
  <% @vote_1 ="Yea" %>
  <% @vote_2 = "Yea"%> 
  <% @vote_3 = "Yea"%> 
  <% @vote_4 = "Nay"%> 
<% elsif @disney_character_info.character_name == "Sultan" %>
  <% @vote_1 ="Yea" %>
  <% @vote_2 = "Yea"%> 
  <% @vote_3 = "Nay"%> 
  <% @vote_4 = "Yea"%> 
 <% elsif @disney_character_info.character_name == "Charlie" %>
  <% @vote_1 ="Yea" %>
  <% @vote_2 = "Yea"%> 
  <% @vote_3 = "Nay"%> 
  <% @vote_4 = "Nay"%> 
<% elsif @disney_character_info.character_name == "Scar" %>
  <% @vote_1 ="Yea" %>
  <% @vote_2 = "Nay"%> 
  <% @vote_3 = "Nay"%> 
  <% @vote_4 = "Yea"%>
<% elsif @disney_character_info.character_name == "Hades" %>
  <% @vote_1 ="Nay" %>
  <% @vote_2 = "Nay"%> 
  <% @vote_3 = "Nay"%> 
  <% @vote_4 = "Yea"%>
<% else %>
  <% @vote_1 = nil %>
  <% @vote_2 = nil%> 
  <% @vote_3 =  nil%> 
  <% @vote_4 =  nil%>

<%end%>


  <ul>
    <li>Your Senator voted <%= @vote_1 %> on</li>
        <ul><a href="http://beta.congress.gov/bill/113th/house-bill/2775">H.R.2775 - Continuing Appropriations Act, 2014</a></ul>
            <p>The final version of the bill makes continuing appropriations through January 15, 2014, thus ending the government shutdown, and increases the debt limit through February 7, 2014.</p>
      <li>Your Senator voted <%= @vote_2 %> on</li>
        <ul> <a href="http://beta.congress.gov/bill/113th-congress/senate-bill/744?q=%7B%22search%22%3A%5B%22s.+744%22%5D%7D">S.744 - Border Security, Economic Opportunity, and Immigration Modernization Act</a> </ul>
            <p>States that passage of this Act recognizes that the primary tenets of its success depend on securing U.S. sovereignty and establishing a coherent and just system for integrating those who seek to join American society.</p>
      <li>Your Senator voted <%= @vote_3%> on</li>
          <ul>  <a href="http://beta.congress.gov/amendment/113th-congress/senate-amendment/931?q={">Amendment SA 931 on S.954</a> </ul>
            <p>To strike a reduction in the supplemental nutrition assistance program, with an offset that limits crop insurance reimbursements to providers.</p>
      <li>Your Senator voted <%= @vote_4%> on</li>
          <ul> <a href="http://beta.congress.gov/amendment/113th-congress/senate-amendment/805?q={">Amendment SA 805 on S.799</a> </ul>
            <p>To protect the right of individuals to bear arms at water resources development projects administered by the Secretary of the Army.</p>
  </ul>













