body{
  text-align: center;
}

p, li, h3{
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 1.2em;
  padding-right: 30px;
  padding-left: 30px;

}
h3{
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 1.2em;
  padding: 0px;
  line-height:40%;
}


h1, h2, ul, a{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

li {
  list-style: none;
}

img {
  padding: 40px;
}

a {
  font-size: 1.1em;
  margin-left: 30px;
}

span {
  font-weight: bold;
}


.votes {
  text-align: left;
}

.home-wrapper {
  margin: 0 auto;
  max-width: 590px;
}

.disney-wrapper {
  max-width: 750px;
}

.vote {
  padding: 15px;
}